<div class="container">
    <div class="container-fluid">
      <div class="row no-gutter ">
        <!-- Starting Html Image Code -->
        <div class="col-md-6 d-none d-md-flex bg-image "></div>
        <!-- Ending Html Image Code -->
  
        <!-- Starting Html From Code -->
        <div class="col-md-6 bg-light">
          <div class="form mt-4 " id="jump">
            <form class="form-signin " [formGroup]="MyForm" (ngSubmit)="UserLogin()" novalidate>
              <h3 class="text-dark text-center mb-5"><span class="font-weight-bold align-text-bottom"
                  style="color: black;">|</span>User Login</h3>
              <div class="form-label-group">
                <input type="email" id="inputEmail" formControlName="email" class="form-control form-control-dark"
                  placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
                <div class="error text-danger"
                  *ngIf="MyForm.controls['email'].invalid && (MyForm.controls['email'].dirty || MyForm.controls['email'].touched)">
                  <span *ngIf="MyForm.controls['email'].errors.email">
                    <small>Use correct pattern</small></span>
                  <span *ngIf="MyForm.controls['email'].errors.required">
                    <small>Field Required!</small>
                  </span>
                </div>
              </div>
              <div class="form-label-group">
                <input type="password" id="inputPassword" formControlName="password"
                  class="form-control form-control-dark" placeholder="Password" required>
                <label for="inputPassword">Password</label>
                <div class="error text-danger"
                  *ngIf="MyForm.controls['password'].invalid && (MyForm.controls['password'].dirty || MyForm.controls['password'].touched)">
                  <span
                    *ngIf="MyForm.controls['password'].errors.minlength || MyForm.controls['password'].errors.maxlength ">
                    <small>6 to 15 Characters!</small></span>
                  <span *ngIf="MyForm.controls['password'].errors.required">
                    <small>Field Required!</small>
                  </span>
                </div>
              </div>
              <button class="btn btn-outline-dark btn-lg w-100" name="submit" type="submit"
                [disabled]="MyForm.pristine || MyForm.invalid">Sign in</button><br>
              <p class="mt-5 mb-3 text-muted text-center">if not registered! <a routerLink="/ur"
                  class="text-dark">Register</a></p><br>
              <p class="mt-5 mb-3 text-muted text-center">Go To <a routerLink="/al" class="text-dark">Admin
                  Login</a></p>
            </form>
          </div>
        </div>
  
  
        <!-- EndingHtml From Code -->
  
      </div>
    </div>
  </div>