<div class="container">
    <div class="container-fluid">
      <div class="row no-gutter ">
        <!-- Starting Html Image Code -->
        <div class="col-md-6 d-none d-md-flex bg-image "></div>
        <!-- Ending Html Image Code -->
  
        <!-- Starting Html From Code -->
        <div class="col-md-6 bg-light">
          <div class="form mt-4">
            <form class="form-signin" [formGroup]="MyForm" (ngSubmit)="onRegister()" novalidate>
              <h3 class="text-dark text-center mb-5"><span class="font-weight-bold align-text-bottom"
                  style="color: black;">|</span>User Registeration</h3>
              <div class="form-label-group">
                <input type="text" formControlName="name" class="form-control form-control-dark" placeholder="Name"
                  required autofocus>
                <label for="inputPassword">Name</label>
                <div class="error  text-danger"
                  *ngIf="MyForm.controls['name'].invalid && (MyForm.controls['name'].dirty || MyForm.controls['name'].touched)">
                  <span *ngIf="MyForm.controls['name'].errors.minlength || MyForm.controls['name'].errors.maxlength ">
                    <small>Name between 4 to 20 Characters!</small></span>
                  <span *ngIf="(MyForm.controls['name'].errors.pattern)">
                    Only Alphabets & Spaces Allowed</span>
                  <span *ngIf="MyForm.controls['name'].errors.required">
                    <small>Field Required!</small>
                  </span>
                </div>
                <!-- <span *ngIf="UserNameExists">
                  <small class="error  text-danger">Name Already Exist Please Try Different Name</small>
                </span> -->
              </div>
  
              <div class="form-label-group">
                <input type="email" formControlName="email" class="form-control form-control-dark"
                  placeholder="Email address" required>
                <label for="inputEmail">Email address</label>
                <div class="error  text-danger"
                  *ngIf="MyForm.controls['email'].invalid && (MyForm.controls['email'].dirty || MyForm.controls['email'].touched)">
                  <span *ngIf="MyForm.controls['email'].errors.email">
                    <small>Use correct pattern as example@example.com</small></span>
                  <span *ngIf="MyForm.controls['email'].errors.required">
                    <small>Field Required!</small>
                  </span>
                </div>
                <!-- <span *ngIf="UserEmailExists">
                  <small class="error  text-danger">Email Already Exist Please Try Different Email</small>
                </span> -->
              </div>
  
              <div class="form-label-group">
                <input type="password" formControlName="password" class="form-control form-control-dark"
                  placeholder="Password" required>
                <label for="inputPassword">Password</label>
                <div class="error  text-danger"
                  *ngIf="MyForm.controls['password'].invalid && (MyForm.controls['password'].dirty || MyForm.controls['password'].touched)">
                  <span
                    *ngIf="MyForm.controls['password'].errors.minlength || MyForm.controls['password'].errors.maxlength ">
                    <small>6 to 15 Characters!</small></span>
                  <span *ngIf="MyForm.controls['password'].errors.required">
                    <small>Field Required!</small>
                  </span>
                </div>
              </div>
  
              <div class="form-label-group">
                <input type="number" formControlName="mobile" class="form-control form-control-dark"
                  placeholder="Mobile" required>
                <label for="inputPassword">Mobile</label>
                <div class="error  text-danger"
                  *ngIf="MyForm.controls['mobile'].invalid && (MyForm.controls['mobile'].dirty || MyForm.controls['mobile'].touched)">
                  <span *ngIf="MyForm.controls['mobile'].errors.minlength || MyForm.controls['mobile'].errors.maxlength ">
                    <small>10 to 15 Characters!</small></span>
                  <span *ngIf="(MyForm.controls['mobile'].errors.pattern)">
                    <small>Only Numbers Allowed!</small></span>
                  <span *ngIf="MyForm.controls['mobile'].errors.required">
                    <small>Field Required!</small>
                  </span>
                </div>
              </div>
  
              <div class="form-label-group">
                <input type="file" placeholder="Please Upload Your Image" class="form-control form-control-dark"
                  required (change)="onFileSelect($event)">
              </div>
              <div class="form-label-group">
                <input type="text" formControlName="address" class="form-control form-control-dark"
                  placeholder="Address" required>
                <label for="inputPassword">Address</label>
                <div class="error  text-danger"
                  *ngIf="MyForm.controls['address'].invalid && (MyForm.controls['address'].dirty || MyForm.controls['address'].touched)">
                  <span
                    *ngIf="MyForm.controls['address'].errors.minlength || MyForm.controls['address'].errors.maxlength ">
                    <small>above 10 Characters!</small></span>
                  <span *ngIf="MyForm.controls['address'].errors.required">
                    <small>Field Required!</small>
                  </span>
                </div>
              </div>
              <button class="btn btn-outline-dark btn-lg w-100" name="submit" type="submit"
                [disabled]="MyForm.pristine || MyForm.invalid">Register</button>
              <p class="mt-5 mb-3 text-muted text-center">if already registered! <a routerLink="/ul"
                  class="text-dark">Login</a></p>
            </form>
          </div><br>
        </div>
        <!-- EndingHtml From Code -->
  
      </div>
    </div>
  </div>